* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    background: green;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbarContainer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbarLogo{
    background-color: blue;
    background-image: linear-gradient(to top, #ff0844 0%, #ff12ff, 100%);
    background-size: 100%;
    -webkit-backdrop-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer; 
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem{
    margin-right: .5rem;
}

.navbarMenu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbarItem{
    height: 80px;
}

.navbarLinks{
    color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}